@font-face{
  font-family: "honokadaze";
  src: url("/fonts/honoka-maru.ttf") format("truetype");
  font-display:swap;
}

body {
  font-family: "honokadaze";
  background: radial-gradient(circle, #EEEEFF, #EEFFFF);
}

h2 {
  word-break: keep-all;
  overflow-wrap: anywhere; 
  font-family: "honokadaze";
}

a {
  margin: 20px
}

#dialog-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity:0;
}

#dialog {
  position: fixed;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  width: min(500px, 90vw);
  height: min(256px, 90vw);
  z-index: 11;
}

#dialog-btn {
  background-color: #EEEEFF;
  border: 1px solid #DDDDFF;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#dialog-btn:hover {
  background: radial-gradient(circle, rgba(220, 220, 255, 50), rgba(224, 220, 255, 50));
}

.container {
  display: grid;
  place-items: center;
}

.box {
  width: min(256px, 90vw, 90vh);
  height: min(256px, 90vw, 90vh);
  background-color: white;
  border: 1px solid #CCCCDD;
  margin: 30px;
}

.sbox {
  width: 32px;
  height: 32px;
  background-color: #EEEEFF;
  cursor : pointer;
  border: 1px solid #DDDDFF;
  border-radius: 4px; /* 半径を256pxの1/8に設定 */
  position: relative;
  overflow: hidden;
  margin: 5px;
  transition: background-color 0.3s;
}

.sbox:hover {
  background: radial-gradient(circle, rgba(220, 220, 255, 50), rgba(224, 220, 255, 50));
}

.search-button{
  width: 256px;
  position: relative;
  top: 0;
  display: block;
  padding: 26px 0;
  background-color: #D0D0FF;
  box-shadow: 0 6px #AAAAFF;
  font-size: 22px;
  border-radius: 5px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  transition: .2s ease-in-out;
  border: none;
}
.search-button:hover {
  top: 2px; /* 元の位置から2px分下げる */
  box-shadow: 0 4px #AAAAFF; /* 影を4pxにする */
}
.search-button:active {
  top: 6px;
  box-shadow: 0 0 #AAAAFF; 
}

.image {
  position: absolute;
  display: none;
}

.item-container {
  margin: 20px 0;
  width: min(550px, 90vw);
  height: 150px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCDD;
}

.image-container {
  width: 64px;
  height: 64px;
  border: 1px solid #CCCCDD;
  border-radius: 5px;
}

.result-image {
  position: absolute;
  z-index: 2;
  width: 64px;
  height: 64px;
}


.radio-container {
  display: flex;
  justify-content: center;
}

.radio {
  margin: 20px;
}

#reading-input {
  margin: 20px;
}

#japanese-input {
  margin: 20px;
}